<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clases.Properties.Settings.Prueba4ConnectionString"
            connectionString="Data Source=DESKTOP-8D68AS8;Initial Catalog=Prueba4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clases.Properties.Settings.Prueba4ConnectionString1"
            connectionString="Data Source=DESKTOP-3538PPG;Initial Catalog=Prueba4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>